[submodule "cerebro"]
	path = cerebro
	url = https://github.com/mc2-project/cerebro
[submodule "delphi"]
	path = delphi
	url = https://github.com/mc2-project/delphi
[submodule "federated-xgboost"]
	path = federated-xgboost
	url = https://github.com/mc2-project/federated-xgboost.git
[submodule "secure-xgboost"]
	path = secure-xgboost
	url = https://github.com/mc2-project/secure-xgboost.git
[submodule "opaque"]
	path = opaque
	url = https://github.com/mc2-project/opaque.git
