python-package/mc2client/__pycache__/
python-package/mc2client/toolchain/__pycache__/
__pycache__/
python-package/build/
python-package/dist/
python-package/mc2client.egg-info/
src/build/
python-package/mc2client/rpc/ndarray_pb2.py
python-package/mc2client/rpc/ndarray_pb2_grpc.py
python-package/mc2client/rpc/opaquesql_pb2.py
python-package/mc2client/rpc/opaquesql_pb2_grpc.py
python-package/mc2client/rpc/remote_pb2.py
python-package/mc2client/rpc/remote_pb2_grpc.py
docs/_build/

# Keys
*.pem
*.key

# Any sample encrypted files
*.enc
