setuptools
azure-mgmt-resource==10.0.0
azure-mgmt-compute==10.0.0
azure-mgmt-storage==10.0.0
azure-mgmt-network==10.0.0
azure-cli-core
azure-storage-blob
azure-identity
cryptography==39.0.1
flatbuffers
grpcio
grpcio-tools
jsonschema
numproto
numpy==1.19.5
pandas
paramiko
pytest
pyyaml
envyaml
scp
