setuptools
azure-mgmt-resource==10.0.0
azure-mgmt-compute==10.0.0
azure-mgmt-storage==10.0.0
azure-mgmt-network==10.0.0
azure-cli-core
azure-storage-blob
azure-identity
cryptography==3.3.2
furo
grpcio
grpcio-tools
jsonschema
numproto
numpy==1.19.5
numpydoc
pandas
pytest
pyyaml
sphinx
sphinx-argparse
sphinx-copybutton
sphinxcontrib-spelling
Sphinx-Substitution-Extensions
